.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    background-image: url("https://thumbs.dreamstime.com/b/seamless-loopable-abstract-chess-png-grid-pattern-background-gray-squares-white-vector-175866674.jpg");
    height: 600px;
    align-content: space-around;
    justify-content:space-evenly;
}
.container div{
    height: 50px;
    border-style: solid;
    border-radius: 12px;
    box-sizing: border-box;
    background-color: white;
    text-align: center;
    line-height: 50px;
}
.third{
    flex-basis: calc(90%/3);
}
.half{
    flex-basis: calc(90%/2);
}
.fourth{
    flex-basis: calc(90%/4);
}
.sixth{
    flex-basis: calc(90%/6);
}
.two-thirds{
    flex-basis: calc(90%*2/3);
}